{% extends "base.html" %}

{% block title %}Original URL{% endblock %}

{% block content %}

    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                    <h3 class="text-center font-weight-light">{{ SITE_NAME }}</h3>
                    <h6 class="text-center font-weight-light" style="color:gray">URL Shortener</h6>
                    <nav style="text-align: center">
                        <a href="/">Home</a> |
                        <a href="/get-original-url">Get Original URL</a>
                    </nav>
                </div>
                <div class="card-body">

                    {% if postback == True and not error_message %}
                        <div class="small mb-3 text-muted">Get Original URL:</div>
                            <p><strong>Short URL: </strong><a href="{{ short_url }}">{{ short_url }}</a></p>
                            <p><strong>Original URL: </strong>
                                {% if original_url == None %}
                                {{ original_url }}
                                {% else %}
                                <a href="{{ original_url }}">{{ original_url }}</a>
                                {% endif %}
                            </p>
                        </div>

                        <!-- Mixpanel -->
                        <script type="text/javascript">
                            mixpanel.track('link2a.link: get-original-url result page loaded');
                        </script>

                    {% endif %}

                    {% if postback == True and error_message %}
                        <p style="color:red; text-align: center">Error: {{ error_message }}</p>
                    {% endif %}

                    {% if (postback == True and error_message) or not postback %}
                        <div class="small mb-3 text-muted">Get the Original URL:</div>
                        <form action="/get-original-url" method="post">
                            <div class="form-floating mb-3">
                                <input type="text" id="short_url" name="short_url" class="form-control" placeholder="https://google.com" required>
                                <label for="short_url">Enter the Short URL eg. https://{{SITE_NAME}}/xyz</label>
                            </div>
                            <div style="margin-top: 10px; display: flex; justify-content: center; align-content: center;">
                                <div class="g-recaptcha" data-sitekey="{{ RECAPTCHA_SITE_KEY }}"></div>
                            </div>
                            <div class="align-items-center justify-content-between mt-1 mb-2" style="text-align: center">
                                <button type="submit" class="btn btn-success">Get Original URL</button>
                            </div>
                        </form>

                        <!-- Mixpanel -->
                        <script type="text/javascript">
                            mixpanel.track('link2a.link: get-original-url page loaded');
                        </script>
                    {% endif %}

                </div>
                <div class="card-footer text-center py-3">
                    <div class="small"></div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
