# Site Info
SITE_NAME="ZapLink"

# Database connection
DATABASE_HOST=localhost
DATABASE_USER=root
DATABASE_PASSWORD=xyz
DATABASE_NAME=zaplink

# CAPTCHA key
RECAPTCHA_SITE_KEY=xyz
RECAPTCHA_SECRET_KEY=abc

# Google Safe Browsing API
## Note: Restrict the key to just Google Safe Browsing API for security
GOOGLE_SAFE_BROWSING_API_KEY=xyz

