# Site Info
SITE_NAME="ZapLink"
SITE_ADMIN_EMAIL="admin@xyz.com"

# Log level
LOG_LEVEL=DEBUG

# Database connection
DATABASE_HOST=localhost
DATABASE_USER=root
DATABASE_PASSWORD=xyz
DATABASE_NAME=zaplink

# CAPTCHA key
RECAPTCHA_SITE_KEY=xyz
RECAPTCHA_SECRET_KEY=abc

# Google Safe Browsing API key
## Note: Restrict the key to just Google Safe Browsing API for security
GOOGLE_SAFE_BROWSING_API_KEY=xyz

# SendGrid API key
SENDGRID_API_KEY=xyz

# Statcounter
STATCOUNTER_PROJECT=123
STATCOUNTER_SECURITY=abc

# Mixpanel
MIXPANEL_TOKEN=xyz